<%- include('./includes/head.ejs') %>
    <%- include('./includes/navigation.ejs') %>
        <main>
            <div class="container">
                <h1>Page not found!!</h1>
            </div>
        </main>
        <%- include('./includes/end.ejs') %>