<%- include('../includes/head.ejs') %>
    <%- include('../includes/navigation.ejs') %>

        <div class="banner">
            <div class="detail">
                <h1>QUẢN LÝ NHÂN VIÊN</h1>
                <h4>CHỌN TÁC VỤ ĐỂ BẮT ĐẦU LÀM VIỆC ... !</h4>
            </div>




        </div>
        <%- include('../includes/end.ejs') %>